###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

CHEATSHEET\.txt

public/uploads/signatures/

src/DataFixtures/InitData/clients.tsv

src/DataFixtures/InitData/organizations.tsv

src/DataFixtures/InitData/partners.tsv

src/DataFixtures/InitData/users.tsv
