<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">{{ "label.filter" | trans }}</div>
                <div class="card-body">
                

<form class="bs-component">
            
    <div class="form-group">  
       <div class="input-group date" id="filterDateFrom">  
            <label class="col-form-label" for="dateFieldFrom">{{ 'label.dateFrom'|trans }}</label>
            <input type="text" id="dateFieldFrom" class="form-control">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>    
    
    <div class="form-group">  
        <div class="input-group date" id="filterDateTo">      
            <label class="col-form-label" for="dateFieldTo">{{ 'label.dateTo'|trans }}</label>
            <input type="text" id="dateFieldTo" class="form-control">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>  
</form>
</div>
</div>