<!-- Modal -->
<div id="dateModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'label.date'|trans }}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div>
      <div class="modal-body">
        <div class='row'>
            <form>            
                {{ 'label.date'|trans }}:<br>
                <input id='modalDate' class='form-control' type="text" name="date" data-date-format="DD. MM. YYYY" data-date-locale="sl">    
                <input id='dateId' type="text" name="id" hidden='true'>  
            </form> 
        </div>        
      </div>
      <div class="modal-footer">
        <button id='submitDate' type="submit" class="btn btn-success" ><i class="fa fa-check" aria-hidden="true"></i> {{ 'action.OK'|trans }}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'label.close'|trans }}</button>
      </div>
    </div>

  </div>
</div>