{% extends 'dashboard/layout.html.twig' %}

{% block body_id 'invoice_index' %}

{% block main %}
    <h1>{{ 'title.invoice'|trans }}</h1>    
    
{% endblock %}

{% block sidebar %}
    
    {{ parent() }}

{% endblock %}
