// setting the value of this variable to an empty data URL is the only working solution
// to load the Bootswatch web fonts locally and avoid loading them from Google servers
// see https://github.com/thomaspark/bootswatch/issues/55#issuecomment-298093182
$web-font-path: 'data:text/css;base64,';

@import '~@fortawesome/fontawesome-free/css/all.css';

@import "node_modules/bootswatch/dist/slate/_variables.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootswatch/dist/slate/_bootswatch.scss";

@import "datetime-vars.scss";

@import "node_modules/eonasdan-bootstrap-datetimepicker/src/sass/bootstrap-datetimepicker-build.scss";

.col-form-label {
    margin-bottom: 0;
      margin-right: calc(#{$input-padding-x} + #{$input-border-width});
      margin-left: calc(#{$input-padding-x});
}

.col-form-label-lg {
      margin-bottom: 0;
      margin-right: calc(#{$input-padding-x-lg} + #{$input-border-width});
      margin-left: calc(#{$input-padding-x-lg});
}

.col-form-label-sm {
      margin-bottom: 0;
    margin-right: calc(#{$input-padding-x-sm} + #{$input-border-width});
      margin-left: calc(#{$input-padding-x-sm});
}

.TECheckBox {
      margin-left: $input-padding-x;
}

#main_container{
    margin-top: 80px;
}


