.table {
    max-width: none;
}
input.codeInput{
    width: 100%;
}
input.nameInput{
    width: 100%;
}
input.quantityInput{
    width: 100%;
}
input.unitInput{
    width: 100%;
}
input.valueInput{
    width: 100%;
}
input.discountInput{
    width: 100%;
}