#InvoiceFormContainer{
    padding-top: 1rem;
    padding-bottom: 1rem; 
}

.table {
    max-width: none;
}
input.codeInput{
    width: 100%;
}
input.nameInput{
    width: 100%;
}
input.quantityInput{
    width: 100%;
}
input.unitInput{
    width: 100%;
}
input.priceInput{
    width: 100%;
}
input.discountInput{
    width: 100%;
}
input.valueInput{
    width: 100%;
}


td.codeInput{
    width: 5%;
}
td.nameInput{
    width: 40%;
}
td.quantityInput{
    width: 5%;
}
td.unitInput{
    width: 5%;
}
td.priceInput{
    width: 10%;
}
td.discountInput{
    width: 5%;
}
td.valueInput{
    width: 10%;
}
td.removeBtn{
    width: 5%;
}