{{ include('dashboard/patner/_delete_partner_confirmation.html.twig') }}
<form action="{{ url('partner_delete', {id: partner.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button type="submit" class="btn btn-sm btn-block btn-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
        {{ ('action.delete_partner')|trans }}
    </button>
</form>
